<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Обучение программированию</h1>
    <h3>secret: {{secret}}</h3>
</body>
</html>